Source: problectix
Section: tex
Priority: optional
Maintainer: Ruediger Beck <jeffbeck@web.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: problectix-teacher
Architecture: any
Depends: debconf, tetex-bin, tetex-base, tetex-extra, imagemagick, rcs-latex, latex-beamer,  psutils, texlive-latex-extra
Description: Problem Collection on unix (latex documentclass teacher and tools)
 problectix-teacher provides the documentclass 'teacher' to format Exams 
 (De: Klassenarbeiten)
 One file represents one Problem. All Problems are collected in a 
 directory.
 With the help of a few perl-scripts you can format this Problem-Collection 
 for Classroom use, teacher-use, and so on.

Package: problectix-emacs
Architecture: any
Depends: problectix-teacher
Description: systemwide problectix-support for emacs users
 Package to add som emacs commands wich make calling jefflatex to compile
 *.tex-files easy (F5 or shift+F5)

#Package: problectix-kile
#Architecture: any
#Depends: problectix-teacher, kile
#Description: problectix-support for kile users
# Package to add som kile commands/shortcuts wich make calling jefflatex 
# to compile *.tex-files easy (F5 or shift+F5)

Package: problectix-marklist
Architecture: any
Depends: 
Description: create a marklist


# replaced by texlive-latex-extra
#Package: problectix-crosswords
#Architecture: any
#Depends: tetex-bin (>= 2.0.2), tetex-base (>= 2.0.2), tetex-extra (>= 2.0.2)
#Description: crosswords with latex (cwpuzzle)
# Create crosswords with latex and arrange the crosswords with scripts
